/AppSoma/build/
/AppSoma/dist/
/AppSoma/nbproject/private/
/AppEventos/build/
/AppEventos/nbproject/private/
/AppCopaDoMundo/build/
/AppCopaDoMundo/dist/
/AppCopaDoMundo/nbproject/private/
/AppArquivosRegistro/build/
/AppArquivosRegistro/nbproject/private/
/AppAlunosBD/build/
/AppAlunosBD/nbproject/private/
